<% provide :title, t(".title") %>
<h1><%= t(".title") %></h1>
<p>
  The <a href="http://www.railstutorial.org/"><em><%= t(".title") %></em></a> is a
  <a href="http://www.railstutorial.org/book"><%= t(".title") %></a> and
  <a href="http://screencasts.railstutorial.org/"><%= t(".title") %></a>
  <a href="http://rubyonrails.org/"><%= t(".title") %></a>
</p>
